input{
    display: block;
}
.info{
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px ;
}
button{
    /* .submitBut */
    width: 25%;
    background-color: rgb(73, 73, 182);
    color: white;
    border: none;
    padding: 7px 2px;
    cursor: pointer;
    margin-left:20px;
    border-radius: 4px;

}
footer {
    text-align: right;
    background-color: #dbdce0;
    padding: 5px;
    color: #666666;
}
